
%% we use 'lib' as our common deps_dir
{deps_dir, "lib"}.

%% whilst these look like external 'deps' entries,
%% they're really just hooks for the rebar_alt_deps plugin
{deps, [
    {remote_plugin_loader, "0.0.2",
        {git, "git://github.com/hyperthunk/remote_plugin_loader.git"}}
]}.

{alt_deps, [
    {ejabberd, "2.1.9", 'build-ejabberd'}
]}.

{alt_repositories, [
    {ejabberd, {github, "processone", "v2.1.9"}}
]}.

{plugin_dir, "lib/remote_plugin_loader/src"}.
{plugins, [remote_plugin_loader,
           rebar_alt_deps,
           rebar_alien_plugin,
           rebar_paths_plugin,
           rebar_skip_deps]}.
{plugin_remotes, [
    {rebar_skip_deps, "hyperthunk/master"},
    {rebar_paths_plugin, "hyperthunk/master"},
    {rebar_alt_deps, "hyperthunk/master"},
    {rebar_alien_plugin,
        "https://raw.github.com/hyperthunk/rebar_alien_plugin/"
        "master/src/rebar_alien_plugin.erl"}
]}.

{skip_dep_cmds, [clean,
                 create,
                 generate,
                 'create-app',
                 'create-node',
                 'alien-commands',
                 'alien-clean']}.

{alien_dirs, [{"lib/ejabberd", explicit}]}.
{alien_conf, [
    {"lib/ejabberd", [
        {command, 'build-ejabberd', "build ejabberd using its native build system", [
            %% generate a configure script using autotools, if it is missing
            {rule, "src/configure", [
                %% recommended execution based on ejabberd's documentation
                {exec, "aclocal", [{cd, "src"}]},
                {exec, "autoconf", [{cd, "src"}]}
            ]},
            %% run ./configure if src/Makefile is missing
            {rule, "src/Makefile", [
                %% the configure script that ships with tagged versions of
                %% ejabberd doesn't have +x permissions set, so we chmod it
                {chmod, "src/configure", 8#00100},
                {exec, "./configure", [{cd, "src"}]}
            ]},
            {rule, "ebin", [
                {exec, "make", [{cd, "src"}]},
                {link, "src", "ebin"}
            ]}
        ]}
    ]}
]}.
