
%% we use 'lib' as our common deps_dir
{deps_dir, "lib"}.

%% whilst these look like external 'deps' entries, 
%% they're really just hooks for the rebar_alt_deps plugin
{deps, [
    {remote_plugin_loader, "0.0.2",
        {git, "git://github.com/hyperthunk/remote_plugin_loader.git"}}
]}.

{alt_deps, [
    {ejabberd, "2.1.9", alien}
]}.

{alt_repositories, [
    {ejabberd, {github, "processone", "v2.1.9"}}
]}.

{plugin_dir, "lib/remote_plugin_loader/src"}.
{plugins, [remote_plugin_loader,
           rebar_alt_deps,
           rebar_alien_plugin]}.
{plugin_remotes, [
    {rebar_alt_deps, "hyperthunk/master"},
    {rebar_alien_plugin, 
        "https://raw.github.com/hyperthunk/rebar_alien_plugin/"
        "master/src/rebar_alien_plugin.erl"}
]}.

{alien_dirs, [{"lib/ejabberd", explicit}]}.
{alien_conf, [
    {"lib/ejabberd", [
        {command, 'compile', "build ejabberd using its native build system", [
            {rule, "src/configure", [
                {exec, "aclocal", [{cd, "src"}]},
                {exec, "autoconf", [{cd, "src"}]}
            ]},
            {rule, "src/Makefile$", [
                {chmod, "src/configure", 8#00100},
                {exec, "./configure", [{cd, "src"}]}
            ]},
            {exec, "make", [{cd, "src"}]}
        ]}
    ]}
]}.
