
%% NB: there's a lot of duplication here - it would be *very* nice if rebar
%% had some kind of {include, File} config element that would allow one to
%% compose various config files together

{deps_dir, "lib"}.
{sub_dirs, ["release"]}.

{plugin_dir, "lib/remote_plugin_loader/src"}.
{plugins, [rebar_paths_plugin,
           rebar_skip_deps]}.

{skip_dep_cmds, [generate]}.

{path_opts, [
    %% TODO: tweak this so that code:lib_dir(ejabberd) works properly
    {generate, [{prepend, ["lib/ejabberd/src"]}]}
]}.
