[
    {kernel, [
        {inetrc, "{{ inetrc_file }}"}
    ]},
    {mnesia, [
        {dir, "{{ mnesia_dir }}"}
    ]},
    {sasl, [
        {sasl_error_logger, {file, "{{logdir}}" "/sasl-error.log"} },
        {errlog_type, all},
        {error_logger_mf_dir, "{{logdir}}" "/sasl"},   % Log directory
        {error_logger_mf_maxbytes, 10485760},           % 10 MB max file size
        {error_logger_mf_maxfiles, 5}                   % 5 files max
    ]}
].

